.new-flight .status-bar {
  height: 5px;
  border-right: 0.5px solid #323232;
  margin-top: -20px;
}

.new-flight .row {
  margin: 0;
}

.new-flight .status-bar:last-child {
  border-right: 0;
}

.new-flight .prev-step {
  background-color: turquoise;
}

.new-flight .following-step {
  background-color: #a6a6a6;
}
