@import '../assets/styles.less';

.root {
  background-color: @background-color;
  height: 500px;
  font-family: sans-serif;
  grid-template: "head" 48px
                 "content" 1fr
                 "footer" 40px 
                 / 100%;

  .header {
    height: 40px;
    padding: 8px 16px;
    background-color: @primary-color;
    grid-area: head;
  
    .header-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    
      .header-content__brand {
        text-decoration: none;
        font-size: 1.25rem;
        padding: .55rem 0;
      }
    }
  }

  .content {
    grid-area: content;
  }

  .footer {
    height: 30px;
    padding: 10px 15px 0;
    background-color: @primary-color;
    grid-area: footer;
  }
}