body {
  background-color: #79a6c4;
  background-image: url("https://www.transparenttextures.com/patterns/binding-light.png");
}
.navbar {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/binding-light.png");
  margin-bottom: 20px;
}

.nav-link {
  color: black;
}

.nav-link:hover,
.nav-link:active {
  color: gray;
}
