$primary-color: #44a0c7;
$secondary-color: #edf8ff;
$link-color: #7e8089;
$link-color-hover: #323336;
$bkg-image: url("https://www.transparenttextures.com/patterns/binding-light.png");

$available-0: #4c96e4;
$available-1: #e44c96;
$available-2: #96e44c;
$available-3: #ad84d6;
$available-4: #d6ad84;
$available-5: #84d6ad;
$available-6: #e5e589;
