.flight-finder {
  .filter-panel {
    margin-bottom: 20px;
  }

  .table {
    background-color: #ffffff;
    .rt-tr {
      cursor: pointer;
    }

    .picked-row {
      background-color: #ff7f7f;
    }

    .highlight:hover {
      background-color: #e5e5e5;
    }
  }
  .data-picker {
    border-radius: 0;
  }
}
