.flight-finder {
  min-height: 150px;
  .filter-panel {
    margin-bottom: 20px;
  }

  .table {
    background-color: #ffffff;
    .rt-tr {
      cursor: pointer;
    }

    .picked-row {
      background-color: #ff7f7f;
    }

    .highlight:hover {
      background-color: #e5e5e5;
    }
  }
  .flight-finder-form {
    .inner {
      border-radius: 0;
    }

    .edged-left {
      border-radius: 0.25rem 0 0 0.25rem;
    }

    .edged-right {
      border-radius: 0 0.25rem 0.25rem 0;
    }
  }
}
