{
  "plugins": ["node"],
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "globals": {
    "logger": true,
    "ERRORS": true,
    "RESPONSES": true
  },
  "rules": {
    "node/exports-style": ["error", "module.exports"],
    "no-console": "warn",
    "comma-dangle": ["warn", "always"],
    "quotes": ["warn", "single"]
  }
}
