.new-flight .button-panel {
  margin-top: 50px;
  height: 38px;
}

.new-flight .btn {
  width: 65px;
}

.new-flight .btn-back,
.new-flight .btn-next {
  position: absolute;
  bottom: 0;
}

.new-flight .btn-back {
  left: 0;
}

.new-flight .btn-next {
  right: 0;
}
