.order-info {
  position: relative;

  .jumbotron {
    margin: 0;
  }

  %flights-divider {
    width: 100%;
    height: 2px;
    background-color: black;
  }

  .flights-divider-both {
    @extend %flights-divider;
    margin: 40px 0;
  }

  .back-button {
    position: absolute;
    top: 1%;
    left: 1%;
  }
}
