@import "src/assets/imports";

.root {
  .navbar {
    background-color: $secondary-color;
    margin-bottom: 20px;
  }

  .nav-link {
    color: $link-color;
    &:hover,
    &:active {
      color: $link-color-hover;
    }
  }
}
