.place-picker .available-place,
.place-picker .booked-place {
  margin: 0 5px;
}

.place-picker .available-place {
  color: #4c96e4 !important;
}

.place-picker .available-place:hover,
.place-picker .booked-place:hover {
  cursor: pointer;
}

.place-picker .available-place:hover {
  color: #ff6666 !important;
}

.place-picker .booked-place:hover {
  color: #b2b2b2 !important;
}
