<div class="dashboard">
  <h2 class="dashboard__logo">Dashboard</h2>
  <ul *ngIf="!category" class="nav-buttons">
    <li class="nav-buttons__button">
      <button class="btn" routerLink="/dashboard/flights">Flights</button>
    </li>
    <li class="nav-buttons__button">
      <button class="btn" routerLink="/dashboard/planes">Planes</button>
    </li>
  </ul>
  <div *ngIf="category === 'flights'">
    <app-new-flight-form></app-new-flight-form>
    <app-flights-table [data]="flightsData"></app-flights-table>
  </div>
  <div *ngIf="category === 'planes'">Here'll be planes</div>
</div>